*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color:#edf3f8 ;
    background-image: url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 780px 780px;
}